.nav-item {
  color: #999999;
  font-size: .9rem;
  margin-right: 1.3rem;
  text-decoration: none;

  &:hover {
    color: #666666;
  }
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.active-nav-item {
  color: #333333;
}