$navigationColor: rgb(266, 266, 266);

.navigation-wrapper {
  background-color: #5d4954;
  width: 100%;
}

.navigation {
  width: 750px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 768px){
    width: 100%;
  }
}

.logo {
  color: $navigationColor;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.2rem;
  h2 {
    margin-bottom: 0;
  }
}

.nav-item {
  color: $navigationColor;
  font-size: .9rem;
  font-weight: bold;
  letter-spacing: 3px;
  margin-right: 1.3rem;
  text-decoration: none;

  &:hover {
    color: #506B26;
  }
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 1rem 0;

  display: flex;

  li {
    margin-bottom: 0;
  }
}

.active-nav-item {
  background-color: lightcoral;
  &:hover {
    color: $navigationColor;
  }
}

.burger {

  display: none;

  div {
    width: 25px;
    height: 2px;
    background-color: $navigationColor;
    margin: 5px;
  }

  &-item {

    &1{

    }

    &2{

    }

    &3{

    }
  }

  @media screen and (max-width: 768px){
    display: block;
  }
}